/**** BEGIN: CSS RESET ****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}

img {
  border-style: none;
}

/**** END: CSS RESET ****/

/**** Variables ****/
:root {
  --text-black: #113654;
}
/**** BEGIN: GLOBAL BASE STYLES ****/

html,
body {
  font-family: "archivo";
}

p {
  line-height: 1.4em;
  font-size: 1em;
}

.button {
  display: inline-block;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 500;
}

.button:hover {
  background-color: #beffe8;
}

.overflow-prevention-wrapper {
  overflow-x: hidden;
}

/**** END: GLOBAL BASE STYLES ****/
/**** BEGIN: GLOBAL MEDIA QUERIES ****/

/**** END: GLOBAL MEDIA QUERIES ****/
/**** BEGIN: HEADER BASE STYLES ****/

.header {
  background-color: #0c7ae9;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/**** END: HEADER BASE STYLES ****/
/**** BEGIN: NAVIGATION ****/

.logo {
  padding-top: 0.75rem;
  margin-left: 1.1rem;
  width: 9rem;
}

.mobile-tablet-nav {
  margin-top: 3.35rem;
  position: absolute;
  background-color: #0c7ae9;
  width: 100%;
  height: calc(100vh - 2.644375rem);
  transform: scale(1, 0);
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-tablet-nav li {
  line-height: 0.91rem;
  margin-top: 1.5rem;
  padding-left: 1.25rem;
  padding-bottom: 1.5rem;
}

.mobile-tablet-nav a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.mobile-tablet-nav a:hover {
  color: #0def9d;
}

.hamburger-menu {
  width: 2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  width: 2rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 400ms ease-in-out 400ms;
}

/**** END: MOBILE AND SMALL TABLET NAVIGATION ****/
/**** BEGIN: DESKTOP NAVIGATION *****/

.desktop-nav {
  display: none;
  margin-right: 2rem;
  padding-bottom: 0.2rem;
}

.desktop_nav a {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}

.desktop_nav a:hover {
  color: #04294e;
}

.desktop_nav ul {
  display: flex;
  align-items: center;
}

.desktop_nav li {
  margin-left: 3rem;
}

.sign-up-button {
  display: none;
  font-size: 0.75rem;
  color: #04294e;
  background-color: #cfe7ff;
  border: none;
  border-radius: 2px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sign-up-button:hover {
  background-color: #9fcfff;
}

/**** END: DESKTOP NAVIGATION *****/
/**** BEGIN: HEADER/NAVIGATION MEDIA QUERIES ****/

@media screen and (min-width: 950px) {
  .hamburger-menu {
    display: none;
  }
  .desktop_nav {
    display: block;
  }

  .header {
    padding-top: 0.75rem;
    padding-bottom: 0.55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sign-up-button {
    display: inline-block;
  }
}

/**** END: HEADER/NAVIGATION MEDIA QUERIES ****/
/**** BEGIN: FOOTER BASE STYLES ****/
/**** END: FOOTER BASE STYLES ****/
/**** BEGIN: FOOTER MEDIA QUERIES ****/
/**** END: FOOTER MEDIA QUERIES ****/
/**** BEGIN: INDEX FIRST ROW BASE STYLES ****/

.first-row {
  background-color: #04294e;
  display: flex;
}

.banner-content {
  display: flex;
}

.first-row h1 {
  color: #f8f9fa;
  line-height: 1.1em;
  font-size: clamp(2.25rem, 0.9167rem + 6.6667vw, 3rem);
  font-weight: 700;
}
.second-br {
  display: none;
}

.first-row p {
  line-height: 1.7rem;
  margin-top: 2rem;
  font-size: 1em;
  margin-right: 1rem;
  width: 80%;
  max-width: 18.6125rem;
  color: #9fcfff;
}
.first-row-button {
  margin-top: 2rem;
  padding: 14px 20px;
  color: #033f29;
  background-color: #0def9d;
}
.banner-container {
  padding-top: 6rem;
  padding-bottom: 16rem;
  margin-left: 1.5rem;
  max-width: 28.3020625rem;
}

.text-face {
  height: 28rem;
  position: absolute;
  left: -6rem;
  top: 20rem;
}

.text-face-container {
  width: 15%;
  position: relative;
}

/**** END: INDEX FIRST ROW BASE STYLES ****/

/**** BEGIN: INDEX FIRST ROW MEDIA QUERIES ****/
@media screen and (min-width: 436px) {
  .text-face {
    padding-top: 3rem;
    height: 38rem;
    position: static;
    margin-left: -5rem;
  }

  .text-face-container {
    width: 14%;
    position: static;
  }
  .banner-container {
    padding-top: 8rem;
    padding-bottom: 12rem;
    max-width: 25rem;
  }
}

@media screen and (min-width: 498px) {
  .text-face {
    margin-left: -2.5rem;
  }
}

@media screen and (min-width: 564px) {
  .banner-container {
    padding-bottom: 14rem;
  }
  .first-br {
    display: none;
  }
  .first-row p {
    max-width: none;
  }
}

@media screen and (min-width: 588px) {
  .first-row {
    justify-content: space-between;
  }
  .first-row h1 {
    font-size: clamp(3rem, 1.2036rem + 4.7431vw, 4.5rem);
  }
  .second-br {
    display: inline;
  }

  .first-row p {
    max-width: 55%;
  }
  .banner-container {
    max-width: none;
  }
  .text-face {
    position: absolute;
    top: 3rem;
    margin-left: -2rem;
  }

  .text-face-container {
    width: clamp(2rem, -19.5573rem + 56.917vw, 20rem);
    position: relative;
  }
}

@media screen and (min-width: 753px) {
  .text-face {
    position: static;
    height: 40rem;
  }
  .text-face-container {
    width: clamp(2rem, -19.5573rem + 56.917vw, 20rem);
    position: static;
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1112px) {
  .first-row {
    justify-content: center;
  }
  .banner-content {
    max-width: clamp(69.5rem, 48.2639rem + 30.5556vw, 75rem);
  }
}
/**** END: INDEX FIRST ROW MEDIA QUERIES ****/
/**** BEGIN: INDEX SECOND ROW BASE STYLES ****/

.second-row {
  padding-top: 4rem;
  background-color: #f1f1f1;
  padding-bottom: 3rem;
}
.second-row h2 {
  color: var(--text-black);
  margin-left: 1.5rem;
  line-height: 1.2em;
  font-size: 1.875rem;
  font-weight: bold;
}

.video-mockup {
  width: calc(100% - 1.5rem);
  margin-left: 0.75rem;
  margin-top: clamp(3rem, 0.7143rem + 11.4286vw, 5rem);
}

.second-row p {
  margin-top: 1.5rem;
  color: var(--text-black);
}

.course-overview-container1 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.course-overview-container2 {
  max-width: 46.375rem;
}
.second-row-button {
  margin-top: 2rem;
  padding: 14px 20px;
  color: white;
  background-color: #0c7ae9;
  margin-left: 1.5rem;
}

.second-row-button:hover {
  background-color: #073f88;
}

/**** END: INDEX SECOND ROW BASE STYLES ****/
/**** BEGIN: INDEX SECOND ROW MEDIA QUERIES ****/

@media screen and (min-width: 612px) {
  .course-overview-container1 {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 3rem;
  }
  .second-row p {
    max-width: 24rem;
  }
}

@media screen and (min-width: 436px) {
  .video-mockup {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 742px) {
  .course-overview-container2 {
    max-width: 46.375rem;
    margin: auto;
  }
}
/**** END: INDEX SECOND ROW MEDIA QUERIES ****/
/**** BEGIN: INDEX THIRD ROW BASE STYLES ****/

.ml-in-excel-banner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #04294e;
}

.ml-in-excel-banner-content-container {
  display: flex;
  flex-direction: column;
}

.ml-in-excel-banner h2 {
  color: white;
  margin-left: 1.5rem;
  line-height: 1.2em;
  font-size: 1.875rem;
  font-weight: bold;
}
.ml-in-excel-banner p {
  margin-left: 1.5rem;
  margin-right: 3rem;
  margin-top: 1rem;
  color: #9fcfff;
}

.third-row-button {
  margin-left: 1.5rem;
  margin-top: 1rem;
  padding: 14px 20px;
  color: #033f29;
  background-color: #0def9d;
}

.free-resources-container {
  order: 2;
}

.resources-icon {
  margin-left: 0.65rem;
  margin-top: 3rem;
  display: block;
}

.excel-product1 {
  width: calc(100% - 1.5rem);
  margin-top: 3rem;
  margin-left: 0.75rem;
}

.excel-product {
  width: calc(100% - 1.5rem);
  margin-top: 3rem;
  margin-left: 0.75rem;
}

.ml-in-excel-link-container {
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 0.875rem;
  color: #1ffffc;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.ml-in-excel-link:hover ~ img {
  transform: translate(0.25rem);
  transition: 100ms;
}

.arrow {
  width: 1rem;
  margin-top: 0.08rem;
  margin-left: 0.2rem;
  display: inline-block;
}

.ml-in-excel-banner span {
  font-size: 0.875rem;
}

/**** END: INDEX THIRD ROW BASE STYLES ****/
/**** BEGIN: INDEX THIRD ROW MEDIA QUERIES ****/

@media screen and (min-width: 620px) {
  .excel-product {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
  }
  .excel-product1 {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
  }

  .ml-in-excel-banner {
    padding-top: 4rem;
  }

  .ml-in-excel-banner h2 {
    margin-top: 1rem;
  }
  .ml-in-excel-banner-content-container {
    display: flex;
    max-width: 50.25rem;
  }

  .resources-icon {
    margin-top: 2rem;
  }

  .ml-index-copy-container {
    max-width: 19rem;
  }

  .ml-in-excel-banner p {
    max-width: 16.14375rem;
  }
  .ml-in-excel-banner span {
    display: none;
  }
  .excel-product1 {
    height: 16rem;
    margin-top: 1.5rem;
    width: auto;
    margin-left: 0;
  }

  .excel-product {
    height: 16rem;
    margin-top: 1.5rem;
    width: auto;
    margin-left: 0;
  }

  .excel-product-container {
    width: 55%;
    position: relative;
  }
}

@media screen and (min-width: 638px) {
  .excel-product1 {
    margin-left: 3rem;
  }

  .excel-product {
    margin-left: 3rem;
  }

  .third-row-link {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 574px) {
  .ml-index-copy-container {
    max-width: 20rem;
  }

  .excel-product1 {
    height: clamp(20rem, -32.4211rem + 112.2807vw, 20rem);
  }

  .excel-product {
    height: clamp(20rem, -32.4211rem + 112.2807vw, 20rem);
  }
}
@media screen and (min-width: 804px) {
  .third-row-content-container {
    margin: auto;
  }
}

/**** END: INDEX THIRD ROW MEDIA QUERIES ****/
/**** BEGIN: INDEX FOURTH ROW BASE STYLES ****/

.fourth-row {
  padding-top: 4rem;
  padding-bottom: 6rem;
  color: var(--text-black);
}

.fourth-row h2 {
  margin-left: 1.5rem;
  line-height: 1.2em;
  font-size: 1.875rem;
  font-weight: bold;
}

.fourth-row p {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  width: calc(100% - 3rem);
}

.testimonial {
  margin-top: 3rem;
}

.testimonial-img {
  margin-left: 1rem;
}

.fourth-row h5 {
  font-weight: bold;
  margin-top: 0.25rem;
  margin-left: 1.5rem;
}

.testimonial p {
  margin-top: 0.75rem;
  max-width: 23.25rem;
}

.testimonial-p {
  text-indent: -0.5em;
}

.testimonial-p2 {
  text-indent: -0.4em;
}

.testimonial-name {
  font-weight: 500;
}

.fourth-row span {
  color: #1e90ff;
}

/**** END: INDEX FOURTH ROW BASE STYLES ****/
/**** BEGIN: INDEX FOURTH ROW MEDIA QUERIES ****/
/**** END: INDEX FOURTH ROW MEDIA QUERIES ****/

@media screen and (min-width: 638px) {
  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 3rem);
    margin: auto;
  }

  .testimonial {
    width: 50%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1196px) {
  .testimonial {
    width: 20%;
    margin-left: 4%;
  }
}

/**** BEGIN: INDEX FIFTH ROW BASE STYLES ****/

.fifth-row {
  padding-bottom: 3em;
}

.fifth-row h3 {
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.fifth-row h5 {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.fifth-row p {
  margin-top: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fifth-row span {
  text-indent: -0.45em;
}
/**** END: INDEX FIFTH ROW BASE STYLES ****/
/**** BEGIN: INDEX FIFTH ROW MEDIA QUERIES ****/
/**** END: INDEX FIFTH ROW MEDIA QUERIES ****/

/**** BEGIN: INDEX SIXTH ROW BASE STYLES ****/

.sixth-row {
  background-color: #073f88;
  padding-bottom: 6rem;
  padding-top: 4rem;
}

.sixth-row h5 {
  color: #0def9d;
}

.sixth-row h2 {
  color: white;
  margin-top: 0.75rem;
  width: 170px;
  font-size: 1.875rem;
  font-weight: bold;
}

.sixth-row br {
  display: none;
}

.sixth-row p {
  color: #9fcfff;
  margin-top: 1rem;
  max-width: 370px;
}
input[type="email"] {
  margin-top: 0.75rem;
  background-color: #073f88;
  border: solid white 0.1rem;
  color: #9fcfff;
  font-size: 0.8rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  width: calc(100% - 10.4px);
}

input[type="name"] {
  margin-top: 1rem;
  background-color: #073f88;
  border: solid white 0.1rem;
  color: #9fcfff;
  font-size: 0.8rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  width: calc(100% - 10.4px);
}

.contact-form-textarea {
  background-color: #073f88;
  border: solid white 0.1rem;
  font-family: "archivo";
  height: 5em;
  margin-top: 0.75rem;
  font-size: 0.8rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  color: #9fcfff;
  outline: none;
  width: calc(100% - 10.4px);
}

::placeholder {
  opacity: 100%;
}

.contact-form-submit {
  font-size: 0.8em;
  color: #033f29;
  background-color: #0def9d;
  font-weight: 500;
  border: none;
  padding: 12px 20px;
  margin-top: 0.75rem;
}

.form-input-container {
  max-width: 352.8px;
  margin-left: 5%;
  margin-right: 5%;
}

.form-heading-container {
  max-width: 352.8px;
  margin-left: 5%;
  margin-right: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**** END: INDEX SIXTH ROW BASE STYLES ****/
/**** BEGIN: INDEX SIXTH ROW MEDIA QUERIES ****/

@media screen and (min-width: 428px) {
  .form-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .form-heading-container {
    margin-right: 0;
  }
  .sixth-row h2 {
    width: 180px;
  }
}

@media screen and (min-width: 715px) {
  .sixth-row h2 {
    width: 250px;
  }
}

@media screen and (min-width: 828px) {
  .form-container {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    max-width: 950.9px;
  }
}

/**** END: INDEX SIXTH ROW MEDIA QUERIES ****/

/**** BEGIN: FOOTER BASE STYLES ****/

.footer {
  padding-top: 2em;
  background-color: #04294e;
  padding-bottom: 2em;
}

.footer-logo {
  margin-left: 7%;
}

.footer-nav {
  margin-top: 1.5rem;
  margin-left: 7%;
  display: grid;
  grid-template-columns: 45% 50%;
  max-width: 452px;
}

.footer-nav li {
  margin-top: 2rem;
}

.footer-nav a {
  font-size: 1em;
  color: #9fcfff;
  text-decoration: none;
}

.footer h3 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-left: 7%;
  margin-top: 3rem;
}

.footer span {
  display: inline-block;
  font-size: 16px;
  color: #0def9d;
  margin-left: 7%;
  margin-top: 1.5rem;
}

.footer-address {
  color: white;
  font-weight: 500;
  margin-left: 7%;
  margin-right: 1rem;
  margin-top: 1.5rem;
  letter-spacing: -0.02rem;
}

.footer hr {
  border: none;
  background-color: #0c7ae9;
  height: 1px;
  margin-left: 7%;
  margin-right: 1rem;
  margin-top: 2.5rem;
  max-width: 325px;
}

.copywrite-text {
  font-size: 12px;
  color: #9fcfff;
  margin-left: 7%;
  margin-top: 1rem;
}

.address-br {
  display: none;
}
/**** END: FOOTER BASE STYLES ****/
/**** BEGIN: FOOTER MEDIA QUERIES ****/

@media screen and (min-width: 354px) {
  .address-br {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .footer-wrap-container2 {
    display: flex;
  }
  .footer-nav {
    width: 50%;
  }
  .contact-info-container {
    width: 50%;
    margin-right: 1rem;
  }
  .address-br {
    display: none;
  }
}

@media screen and (min-width: 702px) {
  .footer {
    padding-top: 3em;
  }
  .footer hr {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 820px) {
  .address-br {
    display: block;
  }
}

@media screen and (min-width: 1034px) {
  .footer-wrap-container1 {
    width: 1034px;
  }
}

@media screen and (min-width: 1049px) {
  .contact-info-container {
    margin-left: -90px;
  }
}

/**** END: FOOTER MEDIA QUERIES ****/
/**** BEGIN: COURSE PAGE BASE STYLES ****/

.courses-heading {
  height: 8rem;
  background-color: #073f88;
  background-image: url("img/courses-heading-bg-img.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}

.courses-heading h1 {
  color: white;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.course-info-element {
  padding-top: 2.5em;
  padding-bottom: 1em;
  max-width: 636px;
  margin: auto;
}

.course-illustration {
  width: calc(100% - 2rem);
  display: block;
  margin: auto;
}

.courses-main {
  padding-bottom: 5em;
  color: var(--text-black);
}

.courses-main h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.courses-main p {
  margin-top: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/**** END: COURSE PAGE BASE STYLES ****/
/**** BEGIN: COURSE PAGE MEDIA QUERIES ****/

@media screen and (min-width: 368px) {
  .courses-heading h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .courses-main h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 394px) {
  .courses-heading h1 {
    font-size: 3rem;
    line-height: 1;
  }
  .courses-main h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 946px) {
  .course-info-element {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    max-width: 925.3px;
    align-items: center;
  }
  .course-info-container {
    width: 50%;
  }
  .course-illustration {
    margin-top: 1.8rem;
  }
}
@media screen and (min-width: 1129px) {
  .courses-heading {
    height: 200px;
  }
}

@media screen and (min-width: 1272px) {
  .courses-main h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .course-illustration {
    margin-top: 2rem;
    width: 32em;
  }
  .course-info-container {
    width: 50%;
  }
  .course-info-element {
    width: 95%;
    max-width: 1100px;
  }
}

/**** END: COURSE PAGE MEDIA QUERIES ****/
/**** BEGIN: ML-IN-EXCEL BASE STYLES ****/

.ml-in-excel-heading {
  height: 180px;
  background-color: #073f88;
  background-image: url("img/ml-in-excel-heading-bg-img.jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: flex-end;
}

.ml-in-excel-heading h1 {
  color: white;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.ml-in-excel-copy-container {
  background-color: #cfe7ff;
  padding-top: 2em;
  padding-bottom: 1em;
  color: var(--text-black);
}

.ml-in-excel-copy-container h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
  line-height: 110%;
}
.ml-in-excel-copy-container p {
  margin-top: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 145%;
}

.search-element-container {
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #cfe7ff;
}

.search-element-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1rem;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.spyglass {
  margin-left: 0.65rem;
  display: inline-block;
  width: 17px;
  padding-top: 2px;
  background-color: white;
}

input[type="text"] {
  margin-left: 0.6rem;
  width: 100%;
  font-size: 12px;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  background-color: white;
}

.go-button {
  font-size: 0.8em;
  color: white;
  background-color: #04294e;
  font-weight: 500;
  border: none;
  padding: 1.25em;
  margin-left: 1rem;
}
.clear-button {
  font-size: 0.8em;
  color: #033f29;
  background-color: #9fcfff;
  font-weight: 500;
  border: none;
  padding-left: 2.6em;
  padding-right: 2.6em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin-left: 0.5rem;
}

.select-container {
  display: inline-block;
  width: 115px;
}

.select-container {
  font-size: 14px;
  margin-left: 1rem;
  margin-top: 1rem;
}

select {
  width: 115px;
  margin-top: 0.5rem;
}

.button-wrapper {
  display: flex;
}
.button-container {
  margin-top: 1rem;
}
/**** END: ML-IN-EXCEL BASE STYLES ****/
/**** BEGIN: ML-IN-EXCEL MEDIA QUERIES ****/

@media screen and (min-width: 678px) {
  .ml-in-excel-heading {
    background-position: center bottom 15%;
  }
}
/**** END: ML-IN-EXCEL MEDIA QUERIES ****/
/**** BEGIN: ABOUT PAGE BASE STYLES ****/
.about-copy {
  background-color: #063462;
  padding-top: 2em;
  padding-bottom: 3em;
}

.about-copy h2 {
  color: #a5d2ff;
  font-weight: medium;
  font-size: 30px;
  margin-left: 1rem;
}

.about-copy h2 span {
  color: #0def9d;
}

.about-copy p {
  color: #ffffff;
  margin-left: 1rem;
  margin-top: 1rem;
  width: calc(100% - 2rem);
}
.phil-teaching {
  width: 100%;
  background-image: url("img/phil-teaching.jpg");
  background-size: cover;
  height: 72vw;
  max-height: 378px;
}

.bio-container {
  padding-top: 1em;
  padding-bottom: 4em;
}

.mobile-about-sub-heading {
  background-color: #08af72;
  height: 36vw;
  padding-bottom: 0.5em;
  max-height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mobile-about-sub-heading h3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 1rem;
}
.mobile-about-sub-heading hr {
  border: none;
  background-color: #beffe8;
  height: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 140px;
  margin-top: 0.25rem;
}

.founder-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.founder-profile img {
  width: 100px;
}

.founder-profile h4 {
  font-size: 16px;
  font-weight: bold;
  color: #113654;
  margin-top: 0.5rem;
}

.founder-profile h5 {
  font-size: 12px;
  color: #0c7ae9;
  font-weight: medium;
  margin-top: 0.25rem;
}
.founder-profile p {
  font-size: 16px;
  color: #113654;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 273px;
}
/**** END: ABOUT PAGE BASE STYLES ****/
/**** BEGIN: ABOUT PAGE MEDIA QUERIES ****/

@media screen and (min-width: 600px) {
  .about-copy {
    padding-top: 3em;
  }
  .about-copy h2 {
    font-size: 36px;
  }
  .mobile-about-sub-heading h3 {
    font-size: 36px;
  }
  .mobile-about-sub-heading hr {
    width: 160px;
  }
}

@media screen and (min-width: 766px) {
  .about-section1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-copy {
    padding-top: 4.5em;
    padding-bottom: 5em;
    width: 100%;
  }
  .about-copy h2 {
    margin-left: 2rem;
  }
  .about-copy p {
    margin-left: 2rem;
    width: calc(100% - 4rem);
    max-width: 480px;
  }
  .phil-teaching {
    height: 516.8px;
    max-height: 516.8px;
    background-position: 20%;
  }
}

@media screen and (min-width: 627px) {
  .bio-container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 955px;
  }
}

@media screen and (min-width: 955px) {
  .bio-container {
    margin: auto;
  }
}
@media screen and (min-width: 984px) {
  .about-section1 {
    background-color: #063462;
  }
  .phil-teaching {
    width: 50%;
  }
  .about-copy {
    width: 50%;
  }
  .about-copy h2 {
    font-size: 48px;
  }
  .mobile-about-sub-heading {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .mobile-about-sub-heading h3 {
    font-size: 48px;
    margin-left: 2rem;
  }
  .mobile-about-sub-heading hr {
    margin-left: 2rem;
    width: 210px;
    height: 4px;
  }
}

@media screen and (min-width: 1084px) {
  .about-copy {
    width: 45%;
  }
  .phil-teaching {
    width: 55%;
  }
}

@media screen and (min-width: 1180px) {
  .about-copy {
    width: 42%;
  }
  .phil-teaching {
    width: 58%;
  }
}

@media screen and (min-width: 1340px) {
  .about-copy h2 {
    margin-left: 3.5vw;
  }
  .about-copy p {
    margin-left: 3.5vw;
  }
}
/**** END: ABOUT PAGE MEDIA QUERIES ****/
