/**** BEGIN: CSS RESET ****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}

img {
  border-style: none;
}

/**** END: CSS RESET ****/

/**** Variables ****/
:root {
  --text-black: #113654;
}
/**** BEGIN: GLOBAL BASE STYLES ****/

html,
body {
  overflow-x: hidden;
}

h1 {
  line-height: 1.2em;
  font-size: 1.9375em;
  font-family: "Roboto";
  font-weight: 900;
}

h2 {
  line-height: 1.2em;
  font-size: 1.563em;
  font-family: "Fira Sans";
  font-weight: bold;
}

h3 {
  line-height: 1.05em;
  font-size: 1.25em;
  font-family: "Fira Sans";
}

h5 {
  font-family: "Fira Sans";
  font-size: 1.25em;
  font-weight: 500;
}

p {
  line-height: 1.4em;
  font-family: "Fira Sans";
  font-size: 1em;
}

.button {
  display: inline-block;
  font-family: "Roboto";
  font-size: 0.8em;
  color: #033f29;
  background-color: #0def9d;
  text-decoration: none;
  font-weight: 500;
}

/**** END: GLOBAL BASE STYLES ****/
/**** BEGIN: GLOBAL MEDIA QUERIES ****/
@media screen and (min-width: 457px) {
  h1 {
    font-size: 2.4375em;
  }
  h2 {
    line-height: 1.2em;
    font-size: 1.9375em;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 3.0625em;
  }
  h2 {
    line-height: 1.2em;
    font-size: 2.4375em;
  }
}

@media screen and (min-width: 715px) {
  h1 {
    font-size: 3.8125em;
  }
  h2 {
    font-size: 3.0625em;
  }
}

/**** END: GLOBAL MEDIA QUERIES ****/
/**** BEGIN: HEADER BASE STYLES ****/

.header {
  padding-top: 1em;
  padding-bottom: 0.6em;
  background-color: #1e90ff;
  /* position: relative; */
}

/**** END: HEADER BASE STYLES ****/
/**** BEGIN: MOBILE AND SMALL TABLET NAVIGATION ****/

.logo-mobile {
  padding-top: 3px;
  margin-left: 0.8rem;
  width: 180px;
}

.mobile_tablet_nav {
  position: absolute;
  background-color: #1e90ff;
  width: 100%;
  height: calc(100vh - 2.644375rem);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.mobile_tablet_nav li {
  margin-bottom: 3rem;
  line-height: 0.91em;
}

.mobile_tablet_nav a {
  font-family: "Fira Sans";
  font-size: 1em;
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.mobile_tablet_nav a:hover {
  color: #04294e;
}

.hamburger-menu {
  margin-left: 0.7rem;
  width: 20px;
  position: absolute;
  right: 11px;
  top: 14px;
  width: 35px;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 400ms ease-in-out 400ms;
}

/**** END: MOBILE AND SMALL TABLET NAVIGATION ****/
/**** BEGIN: DESKTOP NAVIGATION *****/

.desktop_nav {
  display: none;
  margin-right: 2rem;
}

.desktop_nav a {
  font-family: "Fira Sans";
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}

.desktop_nav a:hover {
  color: #04294e;
}

.desktop_nav ul {
  display: flex;
  align-items: center;
}

.desktop_nav li {
  margin-left: 3rem;
}

.sign-up-button {
  display: none;
  font-family: "Fira Sans";
  font-size: 0.8em;
  color: #04294e;
  background-color: #cfe7ff;
  border: none;
  border-radius: 2px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 2em;
  padding-right: 2em;
}

/**** END: DESKTOP NAVIGATION *****/
/**** BEGIN: HEADER/NAVIGATION MEDIA QUERIES ****/

@media screen and (min-width: 1050px) {
  .hamburger-menu {
    display: none;
  }
  .desktop_nav {
    display: block;
  }

  .header {
    display: flex;
    padding-bottom: 1.2rem;
    justify-content: space-between;
    align-items: center;
  }
  .sign-up-button {
    display: inline-block;
  }
}

/**** END: HEADER/NAVIGATION MEDIA QUERIES ****/
/**** BEGIN: FOOTER BASE STYLES ****/
/**** END: FOOTER BASE STYLES ****/
/**** BEGIN: FOOTER MEDIA QUERIES ****/
/**** END: FOOTER MEDIA QUERIES ****/
/**** BEGIN: INDEX FIRST ROW BASE STYLES ****/

.first-row {
  background-color: #04294e;
  display: flex;
  position: relative;
}

.first-row h1 {
  color: #f8f9fa;
}

.first-row p {
  margin-top: 1rem;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  margin-right: 1rem;
  max-width: 245px;
  color: #9fcfff;
}

.first-row-button {
  margin-top: 2rem;
  padding: 1.5em 3.3em;
}

.banner-container {
  padding-top: 6em;
  padding-bottom: 7.35em;
  margin-left: 7%;
}

.text-face {
  margin-top: 10vw;
  height: 500px;
  display: none;
}

.text-face-container {
  width: 10%;
  display: none;
}

/**** END: INDEX FIRST ROW BASE STYLES ****/
/**** BEGIN: INDEX FIRST ROW MEDIA QUERIES ****/

@media screen and (min-width: 370px) {
  .text-face {
    display: block;
  }

  .text-face-container {
    display: block;
  }
}

@media screen and (min-width: 457px) {
  .banner-container {
    padding-top: 18vw;
  }
  .first-row p {
    max-width: 320px;
  }
}

@media screen and (min-width: 515px) {
  .banner-container {
    padding-top: 20vw;
  }
  .text-face-container {
    margin-left: 5vw;
  }
}

@media screen and (min-width: 600px) {
  .first-row p {
    max-width: 400px;
  }
  .text-face-container {
    margin-top: 3em;
  }
}

@media screen and (min-width: 724px) {
  .banner-container {
    padding-top: 8em;
  }
  .text-face {
    margin-top: 5em;
    height: 550px;
  }
}

@media screen and (min-width: 1184px) {
  .text-face {
    margin-top: 2em;
    position: absolute;
    right: 2%;
  }
}

/**** END: INDEX FIRST ROW MEDIA QUERIES ****/
/**** BEGIN: INDEX SECOND ROW BASE STYLES ****/

.second-row h2 {
  color: var(--text-black);
}

.video-mockup {
  width: calc(100% - 2rem);
  margin-bottom: 12px;
  margin-top: 1rem;
  margin-left: 1rem;
  max-width: 612px;
}

.second-row p {
  margin-top: 0.5rem;
  max-width: 581px;
  color: var(--text-black);
}

.course-overview-container1 {
  padding-top: 1.5rem;
  background-color: #f1f1f1;
  padding-bottom: 4em;
  margin-left: 3%;
}
.course-overview-container2 {
  background-color: #f1f1f1;
  width: 100%;
}

.double-paragraph {
  display: none;
  margin-right: 3%;
}

/**** END: INDEX SECOND ROW BASE STYLES ****/
/**** BEGIN: INDEX SECOND ROW MEDIA QUERIES ****/

@media screen and (min-width: 382px) {
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-mockup {
    margin-left: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 457px) {
  .course-overview-container2 {
    padding-top: 1em;
  }
}

@media screen and (min-width: 534px) {
  .video-mockup {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 715px) {
  .course-overview-container2 {
    padding-top: 2em;
  }
}

@media screen and (min-width: 800px) {
  .video-mockup {
    max-width: 78%;
    margin-bottom: 7rem;
    margin-top: 7rem;
    max-width: 869px;
  }
}

@media screen and (min-width: 1033px) {
  .single-paragraph {
    display: none;
  }
  .double-paragraph {
    display: inline-block;
  }
  .course-overview-container1 {
    width: 1004.93px;
  }
  .course-overview-container2 {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
  }
}

/**** END: INDEX SECOND ROW MEDIA QUERIES ****/
/**** BEGIN: INDEX THIRD ROW BASE STYLES ****/

.third-row {
  padding-top: 5em;
  background-color: black;
  padding-bottom: 6em;
  background-image: url(img/excel-bg-img.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third-row h2 {
  color: white;
  margin-left: 7%;
}
.third-row p {
  margin-left: 7%;
  margin-right: 3rem;
  margin-top: 1rem;
  max-width: 347px;
  color: #9fcfff;
}

.third-row-button {
  margin-top: 2rem;
  margin-left: 7%;
  padding: 1.5em 2.2em;
}

.excel-product {
  width: 32em;
  margin-right: 3%;
  display: none;
}

/**** END: INDEX THIRD ROW BASE STYLES ****/
/**** BEGIN: INDEX THIRD ROW MEDIA QUERIES ****/

@media screen and (min-width: 715px) {
  .third-row h2 {
    width: 400px;
  }
}

@media screen and (min-width: 1033px) {
  .excel-product {
    display: block;
  }
}

/**** END: INDEX THIRD ROW MEDIA QUERIES ****/
/**** BEGIN: INDEX FOURTH ROW BASE STYLES ****/

.fourth-row {
  padding-top: 3em;
  padding-bottom: 5em;
  color: var(--text-black);
}

.fourth-row-title {
  margin-left: 7%;
  width: calc(84%);
}

.fourth-row p {
  margin-top: 0.75rem;
}

.testimonial {
  margin-top: 3.75rem;
  margin-left: 7%;
  width: calc(84%);
}

.testimonial-img {
  width: 67px;
}

.fourth-row h5 {
  font-weight: bold;
  margin-top: 0.75rem;
}

.testimonial-p {
  text-indent: -0.5em;
}

.testimonial-p2 {
  text-indent: -0.4em;
}

.testimonial-name {
  font-weight: 500;
}

.fourth-row span {
  color: #1e90ff;
}

/**** END: INDEX FOURTH ROW BASE STYLES ****/
/**** BEGIN: INDEX FOURTH ROW MEDIA QUERIES ****/
/**** END: INDEX FOURTH ROW MEDIA QUERIES ****/

@media screen and (min-width: 749px) {
  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
  }

  .fourth-row-title {
    text-align: center;
  }
  .testimonial {
    width: 40%;
  }
}

@media screen and (min-width: 1196px) {
  .testimonial {
    width: 20%;
    margin-left: 4%;
  }
}

/**** BEGIN: INDEX FIFTH ROW BASE STYLES ****/

.fifth-row {
  padding-bottom: 3em;
}

.fifth-row h3 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.fifth-row h5 {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.fifth-row p {
  margin-top: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fifth-row span {
  text-indent: -0.45em;
}
/**** END: INDEX FIFTH ROW BASE STYLES ****/
/**** BEGIN: INDEX FIFTH ROW MEDIA QUERIES ****/
/**** END: INDEX FIFTH ROW MEDIA QUERIES ****/

/**** BEGIN: INDEX SIXTH ROW BASE STYLES ****/

.sixth-row {
  background-color: #073f88;
  padding-bottom: 3em;
  padding-top: 2rem;
}

.sixth-row h5 {
  color: #0def9d;
}

.sixth-row h2 {
  color: white;
  margin-top: 0.75rem;
  width: 170px;
}

.sixth-row br {
  display: none;
}

.sixth-row p {
  color: #9fcfff;
  margin-top: 1rem;
  max-width: 370px;
}
input[type="email"] {
  margin-top: 0.75rem;
  background-color: #073f88;
  border: solid white 0.1rem;
  font-family: "Fira Sans";
  color: #9fcfff;
  font-size: 0.8rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  width: calc(100% - 10.4px);
}

input[type="name"] {
  margin-top: 1rem;
  background-color: #073f88;
  border: solid white 0.1rem;
  font-family: "Fira Sans";
  color: #9fcfff;
  font-size: 0.8rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  width: calc(100% - 10.4px);
}

.contact-form-textarea {
  background-color: #073f88;
  border: solid white 0.1rem;
  font-family: "Fira Sans";
  height: 5em;
  margin-top: 0.75rem;
  font-size: 0.8rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  color: #9fcfff;
  outline: none;
  width: calc(100% - 10.4px);
}

::placeholder {
  opacity: 100%;
}

.contact-form-submit {
  font-family: "Roboto";
  font-size: 0.8em;
  color: #033f29;
  background-color: #0def9d;
  font-weight: 500;
  border: none;
  padding: 1.5em 4em;
  margin-top: 0.75rem;
}

.form-input-container {
  max-width: 352.8px;
  margin-left: 5%;
  margin-right: 5%;
}

.form-heading-container {
  max-width: 352.8px;
  margin-left: 5%;
  margin-right: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**** END: INDEX SIXTH ROW BASE STYLES ****/
/**** BEGIN: INDEX SIXTH ROW MEDIA QUERIES ****/

@media screen and (min-width: 428px) {
  .form-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .form-heading-container {
    margin-right: 0;
  }
  .sixth-row h2 {
    width: 180px;
  }
}

@media screen and (min-width: 715px) {
  .sixth-row h2 {
    width: 250px;
  }
}

@media screen and (min-width: 828px) {
  .form-container {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    max-width: 950.9px;
  }
}

/**** END: INDEX SIXTH ROW MEDIA QUERIES ****/

/**** BEGIN: FOOTER BASE STYLES ****/

.footer {
  padding-top: 2em;
  background-color: #04294e;
  padding-bottom: 2em;
}

.footer-logo {
  margin-left: 7%;
}

.footer-nav {
  margin-top: 1.5rem;
  margin-left: 7%;
  display: grid;
  grid-template-columns: 45% 50%;
  max-width: 452px;
}

.footer-nav li {
  margin-top: 2rem;
}

.footer-nav a {
  font-size: 1em;
  font-family: "Fira Sans";
  color: #9fcfff;
  text-decoration: none;
}

.footer h3 {
  color: white;
  font-weight: 500;
  margin-left: 7%;
  margin-top: 3rem;
}

.footer span {
  display: inline-block;
  font-family: "Fira Sans";
  font-size: 1em;
  color: #0def9d;
  margin-left: 7%;
  margin-top: 1.5rem;
}

.footer-address {
  color: white;
  font-weight: 500;
  margin-left: 7%;
  margin-right: 1rem;
  margin-top: 1.5rem;
  letter-spacing: -0.02rem;
}

.footer hr {
  border: none;
  background-color: #0c7ae9;
  height: 1px;
  margin-left: 7%;
  margin-right: 1rem;
  margin-top: 2.5rem;
  max-width: 325px;
}

.copywrite-text {
  font-size: 0.8em;
  color: #9fcfff;
  margin-left: 7%;
  margin-top: 1rem;
}

.address-br {
  display: none;
}
/**** END: FOOTER BASE STYLES ****/
/**** BEGIN: FOOTER MEDIA QUERIES ****/

@media screen and (min-width: 354px) {
  .address-br {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .footer-wrap-container2 {
    display: flex;
  }
  .footer-nav {
    width: 50%;
  }
  .contact-info-container {
    width: 50%;
    margin-right: 1rem;
  }
  .address-br {
    display: none;
  }
}

@media screen and (min-width: 702px) {
  .footer {
    padding-top: 3em;
  }
  .footer hr {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 820px) {
  .address-br {
    display: block;
  }
}

@media screen and (min-width: 1034px) {
  .footer-wrap-container1 {
    width: 1034px;
  }
}

@media screen and (min-width: 1049px) {
  .contact-info-container {
    margin-left: -90px;
  }
}

/**** END: FOOTER MEDIA QUERIES ****/
/**** BEGIN: COURSE PAGE BASE STYLES ****/

.courses-heading {
  height: 180px;
  background-color: #073f88;
  background-image: url("img/courses-heading-bg-img.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: end;
}

.courses-heading h1 {
  color: white;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.course-info-element {
  padding-top: 2.5em;
  padding-bottom: 1em;
  max-width: 636px;
  margin: auto;
}

.course-illustration {
  width: calc(100% - 2rem);
  display: block;
  margin: auto;
}

.courses-main {
  padding-bottom: 5em;
  color: var(--text-black);
}

.courses-main h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.courses-main p {
  margin-top: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/**** END: COURSE PAGE BASE STYLES ****/
/**** BEGIN: COURSE PAGE MEDIA QUERIES ****/

@media screen and (min-width: 368px) {
  .courses-heading h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .courses-main h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 394px) {
  .courses-heading h1 {
    font-size: 3rem;
    line-height: 1;
  }
  .courses-main h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 946px) {
  .course-info-element {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    max-width: 925.3px;
    align-items: center;
  }
  .course-info-container {
    width: 50%;
  }
  .course-illustration {
    margin-top: 1.8rem;
  }
}
@media screen and (min-width: 1129px) {
  .courses-heading {
    height: 200px;
  }
}

@media screen and (min-width: 1272px) {
  .courses-main h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .course-illustration {
    margin-top: 2rem;
    width: 32em;
  }
  .course-info-container {
    width: 50%;
  }
  .course-info-element {
    width: 95%;
    max-width: 1100px;
  }
}

/**** END: COURSE PAGE MEDIA QUERIES ****/
/**** BEGIN: ML-IN-EXCEL BASE STYLES ****/

.ml-in-excel-heading {
  height: 180px;
  background-color: #073f88;
  background-image: url("img/ml-in-excel-heading-bg-img.jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: end;
}

.ml-in-excel-heading h1 {
  color: white;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.ml-in-excel-copy-container {
  background-color: #cfe7ff;
  padding-top: 2em;
  padding-bottom: 1em;
  color: var(--text-black);
}

.ml-in-excel-copy-container h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
  line-height: 110%;
}
.ml-in-excel-copy-container p {
  margin-top: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 145%;
}

.search-element-container {
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #cfe7ff;
}

.search-element-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 1rem;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.spyglass {
  margin-left: 0.65rem;
  display: inline-block;
  width: 17px;
  padding-top: 2px;
  background-color: white;
}

input[type="text"] {
  margin-left: 0.6rem;
  width: 100%;
  font-family: "fira sans";
  font-size: 12px;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  background-color: white;
}

.go-button {
  font-family: "Roboto";
  font-size: 0.8em;
  color: white;
  background-color: #04294e;
  font-weight: 500;
  border: none;
  padding: 1.25em;
  margin-left: 1rem;
}
.clear-button {
  font-family: "Roboto";
  font-size: 0.8em;
  color: #033f29;
  background-color: #9fcfff;
  font-weight: 500;
  border: none;
  padding-left: 2.6em;
  padding-right: 2.6em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin-left: 0.5rem;
}

.select-container {
  display: inline-block;
  width: 115px;
}

.select-container {
  font-size: 14px;
  font-family: "fira sans";
  margin-left: 1rem;
  margin-top: 1rem;
}

select {
  width: 115px;
  margin-top: 0.5rem;
}

.button-wrapper {
  display: flex;
}
.button-container {
  margin-top: 1rem;
}
/**** END: ML-IN-EXCEL BASE STYLES ****/
/**** BEGIN: ML-IN-EXCEL MEDIA QUERIES ****/

@media screen and (min-width: 678px) {
  .ml-in-excel-heading {
    background-position: center bottom 15%;
  }
}
/**** END: ML-IN-EXCEL MEDIA QUERIES ****/
/**** BEGIN: ABOUT PAGE BASE STYLES ****/
.about-copy {
  background-color: #063462;
  padding-top: 2em;
  padding-bottom: 3em;
}

.about-copy h2 {
  color: #a5d2ff;
  font-family: "roboto";
  font-weight: medium;
  font-size: 30px;
  margin-left: 1rem;
}

.about-copy h2 span {
  color: #0def9d;
}

.about-copy p {
  color: #ffffff;
  margin-left: 1rem;
  margin-top: 1rem;
  width: calc(100% - 2rem);
}
.phil-teaching {
  width: 100%;
  background-image: url("img/phil-teaching.jpg");
  background-size: cover;
  height: 72vw;
  max-height: 378px;
}

.bio-container {
  padding-top: 1em;
  padding-bottom: 4em;
}

.mobile-about-sub-heading {
  background-color: #08af72;
  height: 36vw;
  padding-bottom: 0.5em;
  max-height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.mobile-about-sub-heading h3 {
  color: white;
  font-size: 30px;
  font-family: "roboto";
  font-weight: bold;
  margin-left: 1rem;
}
.mobile-about-sub-heading hr {
  border: none;
  background-color: #beffe8;
  height: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 140px;
  margin-top: 0.25rem;
}

.founder-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.founder-profile img {
  width: 100px;
}

.founder-profile h4 {
  font-size: 16px;
  font-family: "roboto";
  font-weight: bold;
  color: #113654;
  margin-top: 0.5rem;
}

.founder-profile h5 {
  font-size: 12px;
  font-family: "fira sans";
  color: #0c7ae9;
  font-weight: medium;
  margin-top: 0.25rem;
}
.founder-profile p {
  font-size: 16px;
  font-family: "fira sans";
  color: #113654;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 273px;
}
/**** END: ABOUT PAGE BASE STYLES ****/
/**** BEGIN: ABOUT PAGE MEDIA QUERIES ****/

@media screen and (min-width: 600px) {
  .about-copy {
    padding-top: 3em;
  }
  .about-copy h2 {
    font-size: 36px;
  }
  .mobile-about-sub-heading h3 {
    font-size: 36px;
  }
  .mobile-about-sub-heading hr {
    width: 160px;
  }
}

@media screen and (min-width: 766px) {
  .about-section1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-copy {
    padding-top: 4.5em;
    padding-bottom: 5em;
  }
  .about-copy h2 {
    margin-left: 2rem;
  }
  .about-copy p {
    margin-left: 2rem;
    width: calc(100% - 4rem);
    max-width: 480px;
  }
  .phil-teaching {
    height: 516.8px;
    max-height: 516.8px;
    background-position: 20%;
  }
}

@media screen and (min-width: 627px) {
  .bio-container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 955px;
  }
}

@media screen and (min-width: 955px) {
  .bio-container {
    margin: auto;
  }
}
@media screen and (min-width: 984px) {
  .about-section1 {
    background-color: #063462;
  }
  .phil-teaching {
    width: 50%;
  }
  .about-copy {
    width: 50%;
  }
  .about-copy h2 {
    font-size: 48px;
  }
  .mobile-about-sub-heading {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .mobile-about-sub-heading h3 {
    font-size: 48px;
    margin-left: 2rem;
  }
  .mobile-about-sub-heading hr {
    margin-left: 2rem;
    width: 210px;
    height: 4px;
  }
}

@media screen and (min-width: 1084px) {
  .about-copy {
    width: 45%;
  }
  .phil-teaching {
    width: 55%;
  }
}

@media screen and (min-width: 1180px) {
  .about-copy {
    width: 42%;
  }
  .phil-teaching {
    width: 58%;
  }
}

@media screen and (min-width: 1340px) {
  .about-copy h2 {
    margin-left: 3.5vw;
  }
  .about-copy p {
    margin-left: 3.5vw;
  }
}
/**** END: ABOUT PAGE MEDIA QUERIES ****/
